{#<!--{% load bootstrap_calendar_tags %}-->#}

{#<!--<!DOCTYPE html>-->#}
{#<!--<html>-->#}
{#<!--<head>-->#}
{#<!--    <title>Calendar</title>-->#}
{#<!--    {% bootstrap_calendar_css %}-->#}
{#<!--</head>-->#}
{#<!--<body>-->#}
{#<!--    <h1>Calendar</h1>-->#}
{#<!--    {% bootstrap_calendar %}-->#}
{#<!--    {% bootstrap_calendar_js %}-->#}
{#<!--</body>-->#}
{#<!--</html>-->#}


<!DOCTYPE html>
<html>
<head>
    <title>Simple HTML Page</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>This is a simple HTML page.</p>
    {{ calendar }}
</body>
</html>